<!DOCTYPE html>
<html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/hobbiesStyle.css">
    <title>hobbies</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/ski/IMG_1535.JPG" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
              <img src="/img/ski/IMG_1557.jpeg" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
              <img src="/img/ski/IMG_2245.JPG" class="d-block w-100" alt="Slide 3">
            </div>
            <div class="carousel-item">
              <img src="/img/sea/IMG_0388.jpeg" class="d-block w-100" alt="Slide 4">
            </div>
            <div class="carousel-item">
              <img src="/img/sea/IMG_0430.JPG" class="d-block w-100" alt="Slide 5">
            </div>
            <div class="carousel-item">
              <img src="/img/sea/IMG_0458.JPG" class="d-block w-100" alt="Slide 6">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="hobbiesDiscription">
          <p><b>My hobby</b> <br>私の趣味は冬はスキーで、夏は泳ぐことです。<br>
              より海のことを知りたいと思い、去年の夏にはスキューバダイビングのライセンスを取得しました。
              <br>
              スキーは小学校の頃に初め、小学六年時にSAJ検定一級に合格しました。それ以降は毎シーズン10日間くらいの頻度で行っています。今シーズン(2023-2024)は計25日間
              スキーに行きました。
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="btn11">
      <a href="/home">return</a>
  </div>

  <footer>
    <p>© 2023  So's Home Page</p>
  </footer>

    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>