<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/css/homeStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="Allcontainer">
        <div class="container1">
            <div class="name"><a href="/name" class="link">Name</a></div>
            <div class="career"><a href="/career">Career</a></div>
        </div>
        <div class="container2">
            <div class="skills"><a href="/skills">Skills</a></div>
            <div class="hobbies"><a href="/hobbies">Hobbies</a></div>
        </div>
        <div class="container3">
            <div class="portfolios"><a href="/portfolios">Portfolios</a></div>
            <div class="contact"><a href="/contact">Contact</a></div>
        </div>
    </div>
</body>
</html>
